.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

ul {
  list-style: none;
  
}


.reviewList {
  text-align: center;
}

.reviewIMG {
  max-width: 80%;
}

.voting {
  display: inline-flex;
}


.voteCount {
  
  font-size: 19px ;
}

button {
  max-height: 19px;
  font-size: 15px;
  font-weight: bolder;
  
}

.reviewBody {
  padding-left: 10%;
 
  width: 80%;
}