.App {
  text-align: center;
}

/* Global */

ul {
  list-style: none;
  
}
/* All reviews */

.reviewList {
  text-align: center;
}

.reviewIMG {
  max-width: 80%;
}
/* Single review */
.voting {
  display: inline-flex;
}


.voteCount {
  
  font-size: 19px ;
}

button {
  max-height: 19px;
  font-size: 15px;
  font-weight: bolder;
  
}


.reviewBody {
  padding-left: 10%;
  padding-right:10% ;
 
  width: auto;
}
/* Comments */
.CommentItem {
  border: 5px black solid;
  margin-bottom: 5px;
  max-width: 300px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 10px;
  
}
.reviewList {
  display: flex;
  flex-wrap: wrap;
}

.commentBody {
  
  padding: 20px;
 

}

.commentList {
  display: block;
  padding-right: 10%;
}