.App {
  text-align: center;
  background-image: url("./images/background.jpg");
  background-size: cover;
}

/* Global */
* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}


/* Heading */
.header {
  
  background-image: url("./images/banner-heading.jpg");
  background-size: cover;
  height: auto;
  padding: 1rem;
}

.headerTxt {
 
  font-size: 10dvw;
}

.txtBox {
 
  background: rgba(3, 240, 212, 0.688);
  width: fit-content;
  border-radius: 25%;
  padding : 1rem;
  display: inline-block;
}
  

/* All reviews */

.reviewList {
  text-align: center;
}

.reviewIMG {
  max-width: 80%;
}
/* Single review */
.voting {
  display: inline-flex;
}


.voteCount {
  
  font-size: 19px ;
}

button {
  max-height: 19px;
  font-size: 15px;
  font-weight: bolder;
  
}


.reviewBody {
  padding-left: 10%;
  padding-right:10% ;
 
  width: auto;
}
/* Comments */
.CommentItem {
  border: 5px black solid;
  margin-bottom: 5px;
  max-width: 300px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 10px;
  
}
.reviewList {
  display: flex;
  flex-wrap: wrap;
}

.commentBody {
  
  padding: 20px;
 

}

.commentList {
  display: block;
  padding-right: 10%;
}

/* Login page */

.login {
  display: inline-block;
  height: 800px;
}
.noAuth {
  font-weight: bolder;
  display: block;
  background-color: rgba(3, 240, 212, 0.688);
  
}

/* Nav bar */
nav {
  display: inline-block;
  height: fit-content;
  background-color: black;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.link {
  color: white;
  font-weight: bolder;
  font-size: x-large;
  
  width: 500px;
  
  flex-grow: 1;
  flex-direction: row;
  margin: 10px;
}

/* Sort Reviews */
.sortLink {
  color: aqua;
  margin: 5px;
}